body {
    /*Formats the font color for the body of the page*/
    /*color: #f7f7f7;*/
    background-color: rgb(7, 7, 71);
}

/*Sets the background image, and formats the background size and text alignment of the jumbotron*/
.jumbotron {
    background-image: url("/images/jumbotron.jpeg");
    background-size: 100% 100%;
    text-align: center;
    color: #f8faf9;
}